body {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

ul {
    padding: 0;
    color: gray;
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul i {
    font-size: 25px;
}

#content {
    display: flex;
    gap: 200px;
}

input {
    height: 30px;
    padding-left: 10px;
}

textarea {
    padding-left: 10px;
}